{% extends "App1/padre.html" %}

{% load static %}

{% block contenidoQueCambia %}


    <!--Aquí va lo que cambia, y lo asociado a está vista :) -->
    <h1>Este es el título del Inicio que cambio</h1>
  

    <h3>Podes buscar una camada:</h3>

    <form action="/App1/buscar/" method="GET">

        <input type="text" name="apellido" id="apellido">

        <input type="submit" value="Buscar">




    </form>

    

    {% if mozos %}

    <p>Estamos buscando el: {{apellido}}</p>

    <ul>
	{% for mozo in mozos %}
		<li> {{mozo.nombre}} </li>
		<li> {{mozo.apellido}} </li>
	{% endfor %}

    </ul>

    {% endif %}

{% endblock %}